<div class="command-bar">
    <div class="share-section">
        <div class="share-text">Share With Your Friends</div>
        <div class="fb-share-button share-btn" data-href="https://vm-stories.web.app/{{ url }}" data-layout="button_count" data-size="large"><a target="_blank" href="https://vm-stories.web.app/{{ url }}" class="fb-xfbml-parse-ignore">Share</a></div>
        <div class="share-btn"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="true">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
    </div>
</div>