<div id="share-dialog" class="d-md-flex flex-lg-column justify-content-evenly shadow-lg my-4 p-2">
    <div class="my-1 mx-1"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
    <div class="my-1 mx-1">
        <div class="fb-share-button" data-href="https://vm-stories.web.app/{{ url | url }}" 
        data-layout="button_count" 
        data-size="large">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php" class="fb-xfbml-parse-ignore">Share</a></div>
    </div>
    <button id="web-share" class="d-none btn btn-outline-light my-1 mx-1">
        More Options 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
            <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
        </svg>
    </button>
</div>