<div id="share-dialog" class="d-flex flex-lg-column my-shadow my-4 p-2 max-w-75">
    <div class="my-1 mx-1"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
    <div class="my-1 mx-1">
        <div class="fb-share-button" data-href="https://vm-stories.web.app/story/{{ url | url }}" 
            data-layout="button_count" 
            data-size="large">
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
    </div>
</div>