---
layout: "base.njk"
story_active: "active"
---

<section id="content" class="mb-5 mx-auto">

  <div class="mx-auto mb-4" style="max-width: fit-content;">
    <img class="img-fluid" src="{{ img }}" title="{{ imgAlt }}" alt="{{ imgAlt }}" />
  </div>

  {% if released %}
    {{ content | safe }}
  {% else %}
    <h1 class="text-center text-myprimary">Releasing On : <span class="badge bg-myprimary">{{ relDate }}</span></h1>
  {% endif %}
</section>
