---
title: About Us
about_active: "active"
---

<div id="content" class="container my-4 mx-auto">
    <h1 class="text-center">🙏<br>About me</h1>
    <p>
        Namaste 🙏. <br>
        If you don't know, 🙏 Namaste is the Indian way of greeting someone. <br>
        In India there is a saying that 'अथिति देवो भव' <br>
        This saying means that the guest is like a god. <br>
        And yes we join our hands (🙏) infront of god. <br>
        So , yeah . You are on my website (which by the way i only created/coded) <br>
        and hence you are my guest. <br>
    </p>
    <p>
        My name is vikas <span class="me">full name: vikas maur</span> <br>
        I am an Indian boy
        <span class="me">
            i am telling this so that you can understand
            my work in a better way
            coz they will also reflect the same.
        </span>
    </p>
    <p>I can also tell you about my likings , dislikings but i do not want to. So i will not.</p>
    <p>
        <span class="me">Why is it so hard for me to write the about section?</span> <br>
        <strong>SO ENJOY THE WORLD OF MY IMAGINATION.</strong>
    </p>
</div>