:root{
    --card-width: 60%;
    --card-shadow: rgba(0,0,0 ,0.7) 0px 0px 20px 10px;
    --card-shadow-big: rgba(0,0,0 ,0.7) 0px 0px 20px 20px;
}

.card-section{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 200px;
}

.card-section *{
    margin-bottom: var(--mb-normal);
}

.card-section a{
    color: inherit;
}
.card-section a:hover{
    text-decoration: underline;
}

.card{
    display: flex;
    border-radius: 5px;
    width: var(--card-width);
    margin: auto;
    padding: 1rem;
    box-shadow: var(--card-shadow);
    margin-bottom: calc(var(--mb-normal) + 0.8rem);
    transition: all 0.5s ease-in-out;
}

.card:hover{
    box-shadow: var(--card-shadow-big);
    transform: scale(1.01);
}

.card-left{
    flex-grow: 1;
}

.card-right{
    flex-grow: 1;
}

.short-desc{
    font-weight: normal;
}

.read-story{
    background-color: var(--primary);
    padding: 0.5rem;
    border-radius: 5px;
    display: inline-block;
    color: white !important;
}

.read-story:hover{
    transform: translateY(-8%);
}

@media (max-width:1000px){
    :root{
        --card-width: 85%;
    }

    .card{
        flex-direction: column-reverse;
    }
}