---
title: VMs | Stories By Vikas | 404 Page
description: This is 404 Page For VMs | Stories by vikas
layout: 'base.njk'
url: '/404.html'
permalink: "404.html"
---

<div class="container mb-5">
    <h1 class="text-center mb-4 text-danger">404 ERROR (or) $)$ ERROR 😥</h1>
    <h3 class="mb-4 text-lighter">Sorry !!! But the url does not exists  😟. <br> But no worries 😊 . <br> Go to homepage (OR) start reading a story.</h3>

    <a class="btn btn-myprimary text-light fw-bold" href="/">GO TO HOMEPAGE</a>
</div>

<div id="story-cards">

  <div class="section-label mb-4">
    <h1>Stories For You</h1>
    <div class="under-line rounded"></div>
  </div>

  {% for story in collections.story | reverse %}

    {% include 'card.njk' %}

  {% endfor %}
  
</div>
