---
title: "VMs | Stories By Vikas | Home
description: Welcome to VMs . A small region where i store a small piece of my imagination.(which in my eyes is not that
small 😉)"
layout: "base.njk"
url: ""
home_active: active
header: [<link rel="stylesheet" href="/css/home.css">]
---

<section id="hero-section" class="container-fluid d-flex flex-column flex-md-row my-5">
  <div class="hero-div-shadow container-fluid">
    <div class="hero-left">
      <h1>Namaste 🙏</h1>
    </div>
  </div>
  <div class="hero-div-shadow container-fluid">
    <div class="hero-right">
      <div>
        <h2>Welcome to <strong class="text-myprimary">VMs</strong></h2>
        <p>
          A small region in this world <br />where i store a small piece of my
          imagination.
        </p>
        <p class="me">which in my eyes is not that small 😉.</p>
      </div>
    </div>
  </div>
</section>

<div id="all-stories" class="container card-section">
  <section class="mb-5">
    <div class="section-label mb-4">
      <h1>Featured Story</h1>
      <div class="under-line rounded"></div>
    </div>
    {% for story in collections.featured %} {% include 'ftcard.njk' %} {% endfor
    %}
  </section>

  <section class="mb-5">
    <div class="section-label mb-4">
      <h1>More Stories</h1>
      <div class="under-line rounded"></div>
    </div>

    {% include 'total_stories.njk' %}

    <div id="story-cards" class="row row-cols-1 row-cols-md-2 g-4">
      {% for story in collections.story | reverse %} {% if loop.index < 5 %} {% include 'card.njk' %} {% endif %} {%
        endfor %} </div>
        <a href="/pages/stories" class="btn btn-myprimary btn-lg text-light fw-bold my-4">Get More Stories</a>
  </section>
</div>